{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Article
{% endblock %}

{% block body %}



<form action="{%url 'add'%}" method="post">
    {% csrf_token %}
    <div class="card" style="height: 100%;">
      <div class="card-body">
        <h5 class="card-title">
            <h3>Create New Article</h3>
        </h5>
        {% if error %}
          <h6 style="color:red;">{{error}}</h6>
        {% endif %}
        <p class="card-text">
        {{form}}
</p>
  <button type="submit" class="btn btn-primary" fullwidth>Save Article</button>
</div>
</div>

</form>
{% endblock %}