{% extends "encyclopedia/layout.html" %}

{% block title %}
    Редагування сторінки {{title_page}}
{% endblock %}

{% block body %}



<form action="{%url 'saveedit'%}" method="post">
    {% csrf_token %}
    <div class="card" style="height: 100%;">
      <div class="card-body">
        <h5 class="card-title">
          <h3>Редагування '{{title_page}}'</h3>
        </h5>
        {% if error %}
          <h6 style="color:red;">{{error}}</h6>
        {% endif %}
        <p class="card-text">
        {{form}}
</p>
  <button type="submit" class="btn btn-primary" fullwidth>Зберегти статтю</button>
</div>
</div>

</form>
{% endblock %}